.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerCard {
    display: flex;
    align-items: center;
    height: 25%;
}

.playerCard h1 {
    margin-left: 4%;
}

.mainContent {
    margin-top: 6%;
    width: 40vw;
    height: 80vh;
    border: white solid;
    padding: 2% 4%;
}

.listStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.specs {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62%;
}

.lifetimeInfo {
    margin-left: 2%;
}

.lifetimeInfo li {
    margin-top: 3%;
}

.listStyle ul li {
    font-size: 1.1em;
}

.mainContent h2 {
    border: white solid;
}

.mainContent ul {
    list-style-type: none;
}

.playerCard img {
    border-radius: 50%;
    width: 7em;
    object-fit: cover;
    height: 7em;
    margin-left: 5%;
}