.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerCard {
    display: flex;
    align-items: center;
    height: 25%;
}

.playerCard h1 {
    margin-left: 4%;
}

.default:hover {
    opacity: .83;
}

.mainContent {
    margin-top: 6%;
    width: 40vw;
    height: 80vh;
    border: white solid;
    padding: 2% 4%;
}

.listStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.specs {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 62%;
}

.lifetimeInfo {
    margin-left: 2%;
}

.intial {
    visibility: visible;
    opacity: 1;
    font-size: 3em;
}

.colorMessage {
    font-size: 70%;
    visibility:hidden;
    flex-wrap: wrap;
}

.lifetimeInfo li {
    margin-top: 3%;
}

.listStyle ul li {
    font-size: 1.1em;
}

.mainContent h2 {
    border: white solid;
}

.mainContent ul {
    list-style-type: none;
}

.default {
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.default button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: none;
}