.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 33%;
}

.cardBottom {
  display: flex;
  justify-content: space-evenly;
  filter: invert(1);
}

.svg {
  width: 35px;
  height: auto;
}
