.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 33%;
}

.cardBottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20%;
}

.svg {
  width: 35px;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .cardBottom {
    filter: invert(1);
  }
}
