
.loadingBar svg {
    z-index: -1;
    fill: none;
    stroke: black;
    stroke-width: 1em;
    width: 60vw;
    height: 60vh;
}


.loadingBar {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: red;
}


.innerBarContent {
    background-color: aqua;
    position: relative;
    top: 20%;
    width: 50%;
    height: 50%;
}