.mainContent {
  width: 65vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 80%;
  flex-direction: column;
  margin-top: 5%;
}
.mainContainer {
  height: 100vh;
}
.buttonOptions {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 15%;
}

.buttonOptions button {
  padding: 3% 6.5%;
  font-size: 1.2em;
}
